<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<style>
body {
    text-align: center;
}
form {
    display: inline-block;
    text-align: left;
}
input[type="text"],
input[type="password"],
button {
    display: block;
    margin: 10px auto;
}
</style>
</head>
<body>
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
    <!-- Reset Password Button/link -->
    <button type="button">Reset Password</button>
    <!-- Signup Button/link -->
    <button type="button" onclick="location.href='{% url 'signup' %}'">Sign Up</button>
</form>
</body>
</html>
