<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership Requests</title>
</head>
<body>
    <h1>Membership Requests</h1>
    <ul>
        {% for request in membership_requests %}
            <li>
                <p>Applicant: {{ request.user_name }}</p>
                <p>Block: {{ request.block_name }}</p>
                <p>Current vote count: {{ request.vote_count}}</p>
                    <form action="{% url 'insert_vote' request.application_id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Approve</button>
                </form>
            </li>
        {% empty %}
            <li>You have no applications to review right now.</li>
        {% endfor %}
    </ul>
</body>
</html>
